<div class="row">
    <h1>PROYECTO 1</h1>
    <div class="conteiner">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Calculadora con JavaScritp</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi consectetur fugit optio eligendi ducimus asperiores quaerat iure beatae distinctio enim sit ex, natus doloribus nihil voluptatum nesciunt iusto similique rerum.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">  
            <img src="../../../assets/imagenesMaxi/icono de trabajo.webp" class="img-fluid img-proyecto">
        </div>

    </div>
    <h1>PROYECTO 2</h1>
    <div class="conteiner">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Sistema de Ventas con .NET</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi consectetur fugit optio eligendi ducimus asperiores quaerat iure beatae distinctio enim sit ex, natus doloribus nihil voluptatum nesciunt iusto similique rerum.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">  
            <img src="../../../assets/imagenesMaxi/icono de trabajo.webp" class="img-fluid img-proyecto">
        </div>

    </div>
    <h1>PROYECTO 3</h1>
    <div class="conteiner">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>ABM de Articulos en .NET</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi consectetur fugit optio eligendi ducimus asperiores quaerat iure beatae distinctio enim sit ex, natus doloribus nihil voluptatum nesciunt iusto similique rerum.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">  
            <img src="../../../assets/imagenesMaxi/icono de trabajo.webp" class="img-fluid img-proyecto">
        </div>

    </div>
</div>