<div class="container" *ngIf="hys" >
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">

<div class="form-group">
    <label for="nombre">NOMBRE DE LA HABILIDAD</label>
    <input type="text" class="form-control" id="nombre" name="nombre"[(ngModel)]="hys.nombre" required>

</div>
<div class="form-group">
    <label for="porcentaje"> DESCRIPCION DE LA HABILIDAD</label>
    <input type="text" class="form-control" id="porcentaje" name="porcentaje"[(ngModel)]="hys.porcentaje" required>
</div>
<button class="btn btn-danger">
Actualizar Habilidad
</button>

            </form>
        </div>

    </div>

</div>