<div class="row">
    <div class="contenedor">
        <div class="logo">
            <img src="../../../assets/imagenesMaxi/logoArgentProgra.png" id="logoArg">
        </div>
        <div class="redes">
            <a href="login"><img src="../../../assets/imagenesMaxi/linkednl.png" alt=""></a>
            <a href="login" ><img src="../../../assets/imagenesMaxi/logo-GitHub.png" alt=""></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()"*ngIf="isLogged">CERRAR SESION</button>

        </div>

    </div>
</div>





