<div class="row">
    <h1>EPERIENCIA LABORAL</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
<ul>
    <li>
       <h1>TRABAJO 1</h1>-<h3>(Años)</h3> 
    </li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint, animi ducimus, dolores aliquid eos atque amet dolorum, libero harum molestias culpa quaerat illo? Architecto doloremque aliquid quia aliquam quos.</p>
</ul>
<ul>
    <li>
       <h1>TRABAJO 2</h1>-<h3>(Años)</h3> 
    </li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint, animi ducimus, dolores aliquid eos atque amet dolorum, libero harum molestias culpa quaerat illo? Architecto doloremque aliquid quia aliquam quos.</p>
</ul>
<ul>
    <li>
       <h1>TRABAJO 3</h1>-<h3>(Años)</h3> 
    </li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint, animi ducimus, dolores aliquid eos atque amet dolorum, libero harum molestias culpa quaerat illo? Architecto doloremque aliquid quia aliquam quos.</p>
</ul>
    </div>


</div>
