<div class="row">
    <h1>Hard & Soft skill</h1>
    <div class="col.sm-4 col-md4 col-lg-4">
  <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../assets/imagenesMaxi/200px-HTML5_logo_.png'"
    [showUnits]="false"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showSubtitle]="false"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>
<div class="col.sm-4 col-md4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/imagenesMaxi/logo css.png'"
      [showUnits]="false"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showSubtitle]="false"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="col.sm-4 col-md4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/imagenesMaxi/JavaScript-logo.jpg'"
      [showUnits]="false"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="160"
      [showSubtitle]="false"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="col.sm-4 col-md4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/imagenesMaxi/java-logo.png'"
      [showUnits]="false"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showSubtitle]="false"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="col.sm-4 col-md4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/imagenesMaxi/bootstrap-logo.png'"
      [showUnits]="false"
      [showImage]="true"
      [imageHeight]="150"
      [imageWidth]="150"
      [showSubtitle]="false"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="col.sm-4 col-md4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/imagenesMaxi/spring-boot-1_logo.webp'"
      [showUnits]="false"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showSubtitle]="false"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
